#calendar{
	font-family: Arial, Verdana;	
	font-size: 12px;
}

/* LINKS */
a                 				{ color:#008282; text-decoration:none; }
a:link            				{ color:#008282; text-decoration:none; }
a:hover           				{ color:#007272; text-decoration:underline; }
a:visited         				{ color:#008282; text-decoration:none; }
a:visited:hover   				{ color:#007272; text-decoration:underline; }

.move 							{ cursor:move; }

#calendar_header  				{ width:99%; }
#calendar_header .caption_left 	{ width:33%; text-align:left; }
#calendar_header .caption_center{ text-align:center; }
#calendar_header .caption 		{ width:34%; font-size: 16px; font-weight:bold; text-align:center; }
#calendar_header .types_changer { width:33%; font-size: 12px; font-weight:normal; text-align:right; }


/* MONTLY CALENDAR */
/** ------------------------------------------------------------------------ **/
#calendar .td,
#calendar .td_empty,
#calendar .td_actday,
#calendar .td_selday,
#calendar .td_sunday{
	width:14%;
	text-align: left;
	vertical-align: top;
	padding:3px; 
	padding-left:5px;
	padding-top:5px;
}

#calendar .month  			{ width:99%; align:left; border:1px solid #ccc; margin:8px; border-collapse:collapse; }
#calendar .tr_days   		{ height:32px; background-color:#f1f1f1; background-image: url(images/header_bg.png); background-repeat: repeat-x; }
#calendar .tr				{ }
#calendar .td 				{ border:1px solid #ddd; color:#555; background-color:#ffffff; }
#calendar .td_wn		    { border:1px solid #ddd; color:#555; background-color:#d9f2e8; width:4%; text-align:center; vertical-align:top; padding-top:5px; font-weight:bold; }
#calendar .td_empty 		{ border:1px solid #ddd; color:#555; background-color:#f1f2f3; }
#calendar .td_actday 		{ background-color:#ffffcc; border:1px solid #ddd; color:#007272; font-weight:bold; }
#calendar .td_selday 		{ background-color:#ffffef; border:1px solid #ddd; color:#555; font-weight:bold; }
#calendar .td_sunday 		{ background-color:#e1eae1; border:1px solid #ddd; color:#555; font-weight:bold; }
#calendar .th 				{ height:26px; text-align:center; align:left; font-weight:bold; padding-top:3px; padding-bottom:3px; padding:5px; color:#fff; }
#calendar .th_wn		    { height:26px; text-align:center; align:left; font-weight:bold; padding-top:3px; padding-bottom:3px; padding:5px; color:#fff; }


/* SMALL MONTLY CALENDAR */
/** ------------------------------------------------------------------------ **/
#calendar .td_small,
#calendar .td_small_empty,
#calendar .td_small_actday,
#calendar .td_small_selday{
	width:14%;
	text-align: right;
	vertical-align: top;
	padding:1px; 
	padding-right:3px;
}

#calendar .year_container   { width:100%; align:center; margin-top:8px; border:1px solid #ccc; border-collapse:collapse; }
#calendar .month_small	    { width:96%; align:center; border:1px solid #ccc; margin-top:5px; border-collapse:collapse; }
#calendar .tr_small_days    { background-color:#f1f1f1; background-image: url(images/header_bg.png); background-repeat: repeat-x; }
#calendar .tr_small         { }
#calendar .td_small         { border:1px solid #ddd; color:#555; background-color:#ffffff; }
#calendar .td_small_empty 	{ border:1px solid #ddd; color:#555; background-color:#f1f2f3; }
#calendar .td_small_wn 	    { border:1px solid #ddd; color:#555; background-color:#d9f2e8; width:9%; text-align:center;}
#calendar .td_small_actday  { background-color:#ffffcc; color:#007272; font-weight:bold; }
#calendar .td_small_selday  { background-color:#ffffef; border:1px; color:#555; font-weight:bold; }
#calendar .th_small         { text-align:center; align:center; font-weight:bold; padding-top:1px; padding-bottom:1px; padding:2px; color:#fff; }
#calendar .th_small_wn      { text-align:center; align:center; font-weight:bold; padding-top:1px; padding-bottom:1px; padding:2px; color:#fff; }

/* WEEKLY CALENDAR */
/** ------------------------------------------------------------------------ **/
#calendar .td_w,
#calendar .td_sunday_w,
#calendar .td_actday_w{
	width:14%;
	text-align: right;
	vertical-align: top;
	padding:1px; 
	padding-left:3px;
	padding-top:3px;
}
#calendar .td_actday_w 		{ background-color:#d9f2e8; color:#444; font-weight:bold; }
#calendar .td_header        { background-color:#eeee55; padding:2px; padding-top:1px; padding-bottom:1px; }
#calendar .td_w 			{ border:1px solid #ddd; color:#555; background-color:#ffffff; }
#calendar .td_sunday_w 		{ background-color:#e1eae1; border:1px solid #ddd; color:#555; font-weight:bold; }

/* DAILY CALENDAR */
/** ------------------------------------------------------------------------ **/
#calendar .day  			{ border:1px solid #ccc; padding:0px; border-collapse:collapse; }
#calendar .day_navigation  	{ border:1px solid #ccc; padding:0px; margin-top:3px;  margin-bottom:8px; border-collapse:collapse; }
#calendar .td_acthour_d_h   { background-color:#ffffcc; border:1px solid #ccc; padding:1px; padding-right:3px; text-align:right; }
#calendar .td_acthour_d     { background-color:#ffffcc; border:1px solid #ccc; padding:1px; padding-left:5px; text-align:left; }
#calendar .td_d_h           { background-color:#f1f2f3; border:1px solid #ccc; padding:1px; padding-right:3px; text-align:right; width:54px; }
#calendar .td_d             { background-color:#ffffff; border:1px solid #ccc; padding:1px; padding-left:5px; text-align:left; }

/* NAVIGATION BAR */
#calendar .table_navbar   	{ border:0px; width:100%; height: 40px; }
#calendar .tr_navbar   		{ width:34%; background-color:#ffffff; height:30px; text-align:center; }
#calendar .tr_navbar_left 	{ width:33%; background-color:#ffffff; height:30px; padding-left:7px; text-align:left; }
#calendar .tr_navbar_right 	{ width:33%; background-color:#ffffff; height:30px; padding-right:7px; text-align:right; }

#calendar .class_form       { padding:0px; margin:0px; }
#calendar .form_select      { font-size:12px; }
#calendar .form_button      { font-size:12px; padding:auto; padding-left:4px; padding-right:4px; border:1px solid #007272; background-color:#008282; color:#ffffff; }

/* EVENT FORM CONTAINER */
/** ------------------------------------------------------------------------ **/
#divAddEvent				{ border:1px solid #bcbcbc; background-color:#ffffff; position:absolute; left:200px; top:100px; width:370px; height:247px; display:none; }
#divAddEvent table 			{ width:368px; border:0px; align:center; }
#divAddEvent .header    	{ width:100%; background-color:#008282; color:#ffffff; }
#divAddEvent .header a  	{ color:#ffffff; }


