/*-- reset css --*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/*-- end eric meyer reset css --*/

/* -- general styles for page --*/

html body {
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
background-color: #333;
}
#slide_holder {
margin: 20px auto 0 auto;
}

 pre {font-family: 'Courier New'; font-size: 11px; line-height: 12px; text-align: left; width: 510px; overflow-x: scroll; overflow-y: hidden; border: 1px solid #d7d7d7; color: #ccc; background-color: #666; margin: 30px 0 0 0;}
 body {text-align: center;}
 h1 {
 color: #E2E2E2;
 font-size: 30px;
 font-family: Geneva, Arial, Helvetica, sans-serif;
 font-weight: normal;
 margin-bottom: 5px;
 padding-bottom: 0;
 }
 
 .sub {
 color: #fff;
 font-weight: bold;
 padding-bottom: 10px;
 margin-bottom: 30px;
 border-bottom: 1px solid #E2E2E2;
 }
 
.example_head {
 color: #fff;
 font-weight: bold;
 padding-top: 10px;
 margin-top: 30px;
 border-top: 1px solid #E2E2E2;
 }


/*-- end general styles for page --*/
