/* GLOBALS */
* { margin:0; padding:0; border:0; }
.hidden { display:none; }
.showing { display:block; }
.error { margin:25px auto; text-align:center; font-size:1.2em; color:#f00; font-weight:bold; }
#cropWrap { margin:10px 0 0 0; }
#wait { padding:15px 0 0 0; text-align:center; }


/* BODY*/
body { background:#efefef; color:#000; font:62.5% Arial, Verdana, sans-serif; padding:20px; }


/* INFO */
div.info { width:500px; font-size:1.2em; margin:15px auto 30px auto; line-height:1.7em; border:1px solid #ccc; background:#fff; padding:20px; }
div.info h1 { font-size:1.6em; border-bottom:1px solid #000; padding:0 0 6px 0; margin:0 0 10px 0; }
div.info p { margin:0 0 1.2em 0; }


/* INITIAL UPLOAD FORM */
form { margin:20px 0 0 0; }
form#imigUpload { display:block; border:1px solid #ccc; background:#fff; padding:20px; }
form legend { font-size:1.4em; font-weight:bold; letter-spacing:1px; }
form label { display:block; font-size:1.1em; margin:0 0 4px 0; }
form input { display:block; border:1px solid #ccc; background:#fafafa; padding:3px; }
form div.select { clear:both; padding:12px 0; }
form select { display:block; border:1px solid #ccc; background:#fafafa; }
form div#submit, form div#wait { height:30px; padding:15px 0 0 0; }
form div#submit input { width:75px; margin:0 auto; }


/* FORMS WHICH STORE EDITING DATA */
form.frmCrop legend, form.frmResize legend { display:none; }


/* RESIZE TRACK AND HANDLE */
#resizeTrack { width:200px; height:5px; background:transparent url(../images/bg_track.gif) left top no-repeat; margin:0 0 20px 0; }
#resizeHandle { cursor:move; width:5px; height:10px; background:transparent url(../images/bg_handle.gif) left top no-repeat; }

/* ROTATED IMAGES */
#rotatedImages { padding-top:30px; }
#rotatedImages h2 { margin:20px 0 5px 0; }
#showRotatedImages { font-size:1.1em; padding-top:10px; }