copytosub
httpdocs/comics/
httpdocs/db_backup/
httpdocs/templates/
httpdocs/temp/
httpdocs/users/
httpdocs/usersource/
httpdocs/working/
httpdocs/writing/
httpdocs/stories/
httpdocs/panelflow/
httpdocs/pf_16_core/
httpdocs/pfw_16_core/
httpdocs/print_uploads/
httpdocs/imported/temp/
httpdocs/gateway/processing_log_v3.txt
cgi-bin/
conf/
private/
statistics/
error_docs/
subdomains/store/
subdomains/studio/
subdomains/users/httpdocs/users/
subdomains/users/httpdocs/usersource/
subdomains/bugs/
subdomains/m/
subdomains/publisher/
subdomains/users/httpdocs/includes/error_log.txt
*.psd
*.log
*.avi
*.mov
*.mp4
*.zip
*.rar
*.flv
*.bak
*.jpg
*.jpeg
*.png
*.gif
*.bmp
