<include /bloly-theme/page_header.tmpl>
<%g_result%>
<div class=post_reply>Post new message</div>
<form action="<%URL_SELF%>" method=post name=editor onSubmit="javascript:return Send(this)">
Title: <input type=text name=header style="width:100%"><br>
<%authentication%>
<include /bloly-theme/editor.tmpl>
</form>
<include /bloly-theme/page_footer.tmpl>