</td><td width="10%" align="left" valign="top" class="pright">
<%calendar%><br>
<div class=archive_title>Archive</div><%archive%><br><br>
<form action="<%g_URL_SEARCH%>" method="post">
<div class=search_title>Search</div>
<input type="text" name="q" value="<%f_post_q%>" class=search_t><br>
<input type="submit" value="Ok" class=search_b>
</form>
</td></tr></table>
</body></html>