<html>
<head>
<link rel=stylesheet href="./bloly-files/style.css" type="text/css">
<title><%g_BLOG_TITLE%></title>
</head>
<body bgcolor=#ffffff link=#3366cc vlink=#3366cc text=#000000>
<table border="0" width="100%" cellspacing="0" cellpadding="10">
<tr><td colspan="2" align="left"><a href=<%g_URL_INDEX%> class=blog_title><%g_BLOG_TITLE%></a><div class=blog_slogan><%g_BLOG_SLOGAN%></div></td></tr>
<tr><td height=12 width="90%" align="right" valign="top" class=welcome><%welcome%> &nbsp; </td><td class="pright"><a href="<%g_URL_RSS%>" target="_blank"><img src="./bloly-files/rss.gif" border="0" alt="RSS Newsfeed"></a></td></tr>
<tr><td width="90%" align="left" valign="top">
