body, html {
margin:0px;
padding:0px;
font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
color:#000000;
font-size:10px;
background-color: #303d4b;
}

.contentwrapper {
color:#FFFFFF;
padding:5px;

}

.g_module_thumb {

border-color:#533b4b;
}

.cat_title_mod{
color:#533b4b;
}

.cat_item_mod {
color:#533b4b;
text-align:right;

}

.cat_item_mod a {
color:#533b4b;
text-align:right;

}
.cat_item_mod a:link {
color:#533b4b;
text-align:right;

}

.cat_item_mod a:hover {
color:#c6c0c4;
text-align:right;

}

.cat_item_mod a:visited {
color:#684b5e;
text-align:right;

}


.rss {
color:#000000;
}

.modulewrapper {
text-align:left;
padding:10px;

}

.blogroll {
text-align:left;
padding:10px;
}

.linktitle {
font-weight:bold;
color:#000000;
}

.linkdescription {
color:#533b4b;
text-align:right;
font-weight:100;
}


input.inputstyle {
background-color:#ffffff; 
border:solid; 
border-color:#000000; 
border-width:1px; 
width:100%;
}


.moduletitle {
text-align:right;
font-size:12px;
color:#533b4b;
font-weight:bold;

padding-top:10px;
padding-bottom:2px;
}

.blogtitle {
text-align:center;
font-size:18px;
font-weight:bold;
}

.posttitle{
text-align:left;
font-size:16px;
}
.posttitle a{
font-size:16px;
color:#dfede7;
}
.posttitle a:link{
font-size:16px;
color:#dfede7;
text-decoration:none;
text-transform:uppercase;
}
.posttitle a:hover{
font-size:16px;
color:#839cbe;
text-decoration:none;
text-transform:uppercase;
}

.posttitle a:visited{
font-size:16px;
color:#839cbe;
text-decoration:none;
text-transform:uppercase;
}

.blogdate {
text-align:left;
font-size:10px;
color:#fedfc0;
}

.blogdate a {
text-align:left;
font-size:10px;
color:#b8becf;
}

.blogdate a:link {
text-align:left;
font-size:10px;
color:#b8becf;
}

.blogdate a:hover {
text-align:left;
font-size:10px;
color:#ffffff;
}



.blogpost {
text-align:left;
color:#fedfc0;
}
.blogspacer {
border-bottom:dashed 1px #a2b7b3;
height:5px;
width:98%;

}


#header {
color:#FFFFFF;
height:75px;
background-color:#000000;
}

#topmenu {
height:20px;
background-color:#533b4b;
text-align:right;
padding-left:5px;
padding-right:5px;
}

.menubullet {
font-size:6px;
color:#ffffff;
letter-spacing: -1px;
}

.menulink {
color:#a2b7b3;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}
.menulink a {
color:#a2b7b3;
}

.menulink a:hover {
padding-top:5px;
color:#a2b7b3;

}

.storemenulink {
color:#000000;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;

}
.storemenulink a {
color:#000000;

}

.storemenulink a:hover {
padding-top:5px;
color:#a2b7b3;

}

.storemenu {
text-align:left;
padding-left:15px;
}

.gallerythumb {
border:1;
border-color:#FFFFFF;
}


.menulink a:link {
padding-top:5px;
color:#a2b7b3;
}


.gallerytitle {
font-size:14px;
font-weight: bold;
}

.gallerydescription {
font-size:12px;
}

.galleryitem {
font-size:12px;
}

.menuheader {
color:#000000;
text-align:left;
font-size:14px;
}

.storeheader {
font-size:14px;

color:#a2b7b2;
text-transform:uppercase;
}
.itemtitle {
font-size:16px;
font-weight: bold;
color:#a2b7b2;
}

.itemdescription {
font-size:12px;
color:#a2b7b2;
font-weight:100;
}


.itemprice {
font-size:12px;
color:#a2b7b2;
}

.hidden { display:none; }
.showing { display:block; }
.error { margin:25px auto; text-align:center; font-size:1.2em; color:#f00; font-weight:bold; }
#cropWrap { margin:10px 0 0 0; }
#wait { padding:15px 0 0 0; text-align:center; }
div.info { width:500px; font-size:1.2em; margin:15px auto 30px auto; line-height:1.7em; border:1px solid #ccc; background:#fff; padding:20px; }
div.info h1 { font-size:1.6em; border-bottom:1px solid #000; padding:0 0 6px 0; margin:0 0 10px 0; }
div.info p { margin:0 0 1.2em 0; }


/* INITIAL UPLOAD FORM */
form { margin:0 0 0 0; }
form#imigUpload { display:block; background:#fff; padding:20px; }
form legend { font-size:1.4em; font-weight:bold; letter-spacing:1px; }
form label { font-size:1.1em; margin:0 0 4px 0; }
form input {border:1px solid #FF9900; }
form div.select { clear:both; padding:12px 0; }
form select { display:block;  background:#fafafa; }
form div#submit, form div#wait { height:30px; padding:5px 0 0 0; }  
form div#submit input { width:75px; margin:0 auto; }


/* FORMS WHICH STORE EDITING DATA */
form.frmCrop legend, form.frmResize legend { display:none; }


/* RESIZE TRACK AND HANDLE */
#resizeTrack { width:200px; height:5px; background:transparent url(../images/bg_track.gif) left top no-repeat; margin:0 0 20px 0; }
#resizeHandle { cursor:move; width:5px; height:10px; background:transparent url(../images/bg_handle.gif) left top no-repeat; }

/* ROTATED IMAGES */
#rotatedImages { padding-top:30px; }
#rotatedImages h2 { margin:20px 0 5px 0; }
#showRotatedImages { font-size:1.1em; padding-top:10px; }

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}


.spacer {
height:10px;
}

.downloadimage {
text-align:center;
}

.dltitle {
text-align:center;
font-size:10px;
}

#modrightside {
width: 11px;
background-image:url(../images/right_side.jpg);
background-repeat:repeat-y;

}

#modleftside {
width: 11px;
background-image:url(../images/left_side.jpg);
background-repeat:repeat-y;

}

#modtop {
height:13px;
background-image:url(../images/mod_top.png);
background-repeat:repeat-x;
}

.boxcontent {
color:#000000;
background-color:#FFFFFF;
}

#modbottom {
height:13px;
background-image:url(../images/mod_bottom.png);
background-repeat:repeat-x;

}

#modbottomleft{
width:11px;
height:13px; 
background-image:url(../images/mod_bottom_left.png);
background-repeat:no-repeat;
}

#modtopleft{
width:11px;
height:13px; 
background-image:url(../images/mod_top_left.png);
background-repeat:no-repeat;
}

#modtopright{
width:11px;
height:13px; 
background-image:url(../images/mod_top_right.png);
background-repeat:no-repeat;
}

#modbottomright{
width:11px;
height:13px; 
background-image:url(../images/mod_bottom_right.png);
background-repeat:no-repeat;
}



.dllink {
text-align:center;
font-size:10px;
}



.pageheader{
font-size:16px;
font-weight:bold;

}

.creatorwrapper {
padding-left:10px;

}

.imageName {
padding-top:10px;
font-size:12px;
font-weight:bold;
color:white;
}

a:link {
font-size:10px;
text-decoration:none;
}    
 /* unvisited link */
 
a:visited {
font-size:10px;
text-decoration:none;
}  /* visited link */

a:hover {
font-size:10px;
text-decoration:none;
}   /* mouse over link */

a:active {
font-size:10px;
text-decoration:none;
}   /* selected link */

.modtext {
padding-left:5px;
color:#000000;
} 



#modtext a:active {color:#CCCCCC; font-size: 10px; text-decoration: none;}
#modtext a:visited {color:#CCCCCC; font-size: 10px; text-decoration: none;}
#modtext a:hover {color:#CCCCCC; font-size: 10px; text-decoration: none;}
#modtext a:focus {color:#CCCCCC; font-size: 10px; text-decoration: none;}
#modtext a:link {color:#CCCCCC; font-size: 10px; text-decoration: none;}

.locationwrapper {
padding-left:5px;
}

.modheader {
color:#FFFFFF;
padding-left:5px;
}

.header {
font-size:14px;
font-weight:bold;
}
.notlogged {
text-align:center;
font-size:10px;
}

.rightwrapper{
text-align:left;
padding-right:5px;
}

.leftwrapper{
/* padding-left:18px;*/
text-align:left;
padding-right:20px;
}

.username {
font-size:10px;
font-weight:bold;
}

.notespacer{
height:3px;
}

.halfspacer {
height:5px;
}

.smspacer {
height:2px;
}
.commentdate {
font-size:10px;
font-weight:100;
font-style:italic;
}

.recdescription {
font-size:10px;
font-weight:100;
padding-left:5px;
}

.rectitle {
font-size:10px;
font-weight:bold;

}
.nocomments{
font-size:14px;
font-weight:bold;
padding:20px;
text-align:center;
}

.infotext{
font-size:10px;
font-weight:100;
padding-top:3px;
padding-bottom:3px;
}

.chartext{
font-size:10px;
font-weight:100;
padding-top:3px;
padding-bottom:3px;
}

.chartitle{
font-size:10px;
font-weight:bold;
padding-top:3px;
padding-bottom:3px;
}

.comment{
font-size:10px;
font-weight:100;
}
.comicinfo {
font-weight:bold;
font-size:10px;
}

.comments {
padding-left:10px;
font-size:10px;
}

.comments {

}


.authornote {
font-weight:bold;
font-size:12px;
}

.legal {
padding-top:15px;
font-size:10px;
text-align:center;
}

.episodetitle {
font-size:14px;
font-weight:bold;
}

.episodesummary {
font-size:12px;
padding-left:5px;
padding-right:5px;
}

.chaptername {
font-size:12px;
background-color:#f6ecea;
}

.chapterlinks {
text-decoration:none;
}
.chapterlinks a {
color:#FF6600;
}
.chapterlinks a:hover {
color:#000000;
}

.chapterlinks a:link {
color:#FF6600;
}

#lightbox{

	position: absolute;

	top: 40px;

	left: 0;

	width: 100%;

	z-index: 100;

	text-align: center;

	line-height: 0;

	}



#lightbox a img{ border: none; }



#outerImageContainer{

	position: relative;

	background-color: #fff;

	width: 250px;

	height: 250px;

	margin: 0 auto;

	}



#imageContainer{

	padding: 10px;

	}



#loading{

	position: absolute;

	top: 40%;

	left: 0%;

	height: 25%;

	width: 100%;

	text-align: center;

	line-height: 0;

	}

#hoverNav{

	position: absolute;

	top: 0;

	left: 0;

	height: 100%;

	width: 100%;

	z-index: 10;

	}

#imageContainer>#hoverNav{ left: 0;}

#hoverNav a{ outline: none;}



#prevLink, #nextLink{

	width: 49%;

	height: 100%;

	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */

	display: block;

	}

#prevLink { left: 0; float: left;}

#nextLink { right: 0; float: right;}

#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }

#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }





#imageDataContainer{

	font: 10px Verdana, Helvetica, sans-serif;

	background-color: #fff;

	margin: 0 auto;

	line-height: 1.4em;

	}



#imageData{

	padding:0 10px;

	}

#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	

#imageData #caption{ font-weight: bold;	}

#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			

#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	

		

#overlay{

	position: absolute;

	top: 0;

	left: 0;

	z-index: 90;

	width: 100%;

	height: 500px;

	background-color: #000;

	filter:alpha(opacity=60);

	-moz-opacity: 0.6;

	opacity: 0.6;

	}

	



.clearfix:after {

	content: "."; 

	display: block; 

	height: 0; 

	clear: both; 

	visibility: hidden;

	}



* html>body .clearfix {

	display: inline-block; 

	width: 100%;

	}



* html .clearfix {

	/* Hides from IE-mac \*/

	height: 1%;

	/* End hide from IE-mac */

	}
		
#commentBox
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; left: 95px;
}
.commentBoxBackground
{
    filter: Alpha(Opacity=20); -moz-opacity:0.1; opacity: 0.6;
    width: 100%; height: 100%; background-color: #333333;
    position: absolute;
    z-index: 400;
    top: 0px; left: -95px;
}
.commentBoxContainer
{
    position: absolute;
    width: 500px;
    left: 50%;
    top: 50%;
    z-index: 750;
}
.commentBoxmodal
{
    background-color: white;
    border: solid 4px black; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 500px;
    height: 220px;
    padding: 0px;
}
.commentBoxmodalBody
{
    width: 485px;
    background-color: #000000;
    padding: 4px;
    color: #ffffff;
    text-align: right;
}
.commentBoxmodalBody a, .commentBoxmodalBody a:visited
{
    color: #ffffff;
}
.commentBoxmodalBody
{
    padding: 10px;
}

.commentsheader {
color:#0099FF;
text-align:left;
}
	

