.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 0px;
	height:512px;

    background: #F0F6F9;
	background-image:url(http://www.w3volt.com/images/string_bg_new.jpg);
	background-repeat:no-repeat;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
padding-left:30px;
    width: 106px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
padding-left:13px;
    width: 93px;
	height:512px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
 width: 610px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  96px;
    height: 512px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 80px;
    height: 45px;

}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 10px;
	text-align:center;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    width: 80px;
    height: 45px;

}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
	top:2px;
    right: 5px;
    width: 20px;
    height: 47px;
    cursor: pointer;
    background: transparent url(/images/string_next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
   /* background-position: -32px 0;*/
   background: url(/images/string_next_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: url(/images/string_next_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
     background: url(/images/string_next_disabled.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    left: 5px;
	top:2px;
    width: 20px;
    height: 47px;
    cursor: pointer;
    background: transparent url(/images/string_back.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
     background: url(/images/string_back_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background: url(/images/string_back_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: url(/images/string_back_disabled.png) no-repeat;
}

/**
 *  Vertical Buttons

.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 12px;
    width: 80px;
    height: 29px;
    cursor: pointer;
    background: transparent url(/images/string_next.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background: url(/images/string_next_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background: url(/images/string_next_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
   background: url(/images/string_next_disabled.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 25px;
     left: 25px;
     width: 80px;
    height: 29px;
    cursor: pointer;
    background: transparent url(/images/string_back.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
   background: url(/images/string_back_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
     background: url(/images/string_back_over.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
   background: url(/images/string_back_disabled.png) no-repeat;
}
 */