<ifModule mod_php4.c>
 php_value zlib.output_compression On
</ifModule>

<IfModule mod_security.c>  
  SetEnvIfNoCase Content-Type \  
  "^multipart/form-data;" "MODSEC_NOPOSTBUFFERING=Do not buffer file uploads"  
</IfModule> 
 
<IfModule mod_gzip.c>  
  mod_gzip_on No  
</IfModule>  

AddOutputFilterByType DEFLATE text/html text/plain text/xml

Options +FollowSymLinks

ErrorDocument 404 /404.php

RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^comic/complete/([^/]+)/$ /pf_16_core/install/last_step.php?comic=$1 [QSA]
RewriteRule ^project/complete/([^/]+)/$ /pf_16_core/install/last_step.php?comic=$1 [QSA]
RewriteRule ^cms/admin/$ /pf_16_core/admin.php [QSA]
RewriteRule ^r3volt/admin/$ /pf_16_core/admin.php [QSA]
RewriteRule ^cms/create/$ /pf_16_core/create_comic_new.php [QSA]
RewriteRule ^cms/pager/$ /pf_16_core/pager.php [QSA]

RewriteRule ^story/complete/([^/]+)/$ /pf_16_core/install/last_step_story.php?story=$1 [QSA]
RewriteRule ^story/admin/$ /pf_16_core/storyadmin.php [QSA]
RewriteRule ^story/create/$ /pf_16_core/create_story_new.php [QSA]
RewriteRule ^story/pager/$ /pf_16_core/pager_story.php [QSA]
RewriteRule ^story/edit/([^/]+)/$ /pf_16_core/storyadmin.php?id=$1 [QSA]
RewriteRule ^story/delete/([^/]+)/$ /pf_16_core/delete_story.php?id=$1 [QSA]

RewriteRule ^world/admin/$ /pfw_16_core/admin.php [QSA]
RewriteRule ^world/create/$ /pfw_16_core/create_world_new.php [QSA]
RewriteRule ^world/pager/$ /pfw_16_core/pager.php [QSA]

RewriteRule ^cover/complete/([^/]+)/$ /pf_16_core/covercrop/coverfinal.php?comic=$1 [QSA]
RewriteRule ^create/pdf/([^/]+)/$ /pf_16_core/create_pdf.php?comic=$1 [QSA]
RewriteRule ^create/pdf/$  /pf_16_core/create_pdf_hosted.php [QSA]
RewriteRule ^process/pdf/([^/]+)/$  /pf_16_core/process_pdf.php?comic=$1 [QSA]
RewriteRule ^edit/pdf/([^/]+)/([^/]+)/$ /pf_16_core/pdf_break.php?comic=$1&bookid=$2 [QSA]

RewriteRule ^comic/import/([^/]+)/$ /import_pages.php?id=$1 [QSA]
RewriteRule ^comic/import/process/([^/]+)/$ /process_pages.php?id=$1 [QSA]
RewriteRule ^comic/import/smackjeeves/([^/]+)/$ /extract_smackjeeves.php?id=$1 [QSA]
RewriteRule ^comic/import/drunkduck/([^/]+)/$ /extract_drunkduck.php?id=$1 [QSA]
RewriteRule ^comic/import/comicspace/([^/]+)/$ /extract_comicspace.php?id=$1 [QSA]
RewriteRule ^comic/import/$ /import_pages.php [QSA] 

RewriteRule ^subscription/comics/$ /comics_hosting.php [QSA]
RewriteRule ^subscription/app/$ /application_hosting.php [QSA]
RewriteRule ^subscription/domain/$ /domain_hosting.php [QSA]

RewriteRule ^store/start/$ /start_processing_new.php [QSA]
RewriteRule ^store/paypal/$ /paypal_start.php [QSA]
RewriteRule ^store/download/$ /get_store_product.php [QSA]
RewriteRule ^store/orders/$ /view_orders.php [QSA]
RewriteRule ^store/order/$ /view_order.php [QSA]

RewriteRule ^go/pro/$ /download_new.php [QSA]
RewriteRule ^register/$ /register.php [QSA]
RewriteRule ^cms/edit/([^/]+)/$ /pf_16_core/admin.php?id=$1&t=project [QSA]
RewriteRule ^cms/delete/([^/]+)/$ /pf_16_core/delete_comic.php?id=$1 [QSA]
RewriteRule ^cms/batch/process/([^/]+)/$ /pf_16_core/process_batch.php?id=$1 [QSA]
RewriteRule ^cms/batch/([^/]+)/$ /pf_16_core/batch.php?id=$1 [QSA]
RewriteRule ^cms/creator/([^/]+)/$ /pf_16_core/loadcreator.php?comic=$1 [QSA]
RewriteRule ^cms/cover/crop/([^/]+)/$ /pf_16_core/covercrop/cropcover.php?comic=$1 [QSA]
RewriteRule ^cms/cover/([^/]+)/$ /pf_16_core/covercrop/comicthumb.php?comic=$1 [QSA]
RewriteRule ^cms/mobile/start/([^/]+)/$ /pf_16_core/covercrop/create_mobile.php?comic=$1 [QSA]
RewriteRule ^cms/mobile/([^/]+)/$ /pf_16_core/covercrop/cropmobile.php?comic=$1 [QSA]
RewriteRule ^cms/hotspots/([^/]+)/$ /pf_16_core/image_map.php?comic=$1 [QSA]
RewriteRule ^creator/avatar/crop/([^/]+)/$ /pf_16_core/covercrop/cropavatar.php?comic=$1 [QSA]
RewriteRule ^creator/avatar/([^/]+)/$ /pf_16_core/covercrop/create_avatar.php?comic=$1 [QSA]
RewriteRule ^creator/invitation/([^/]+)/([^/]+)/$ /pf_16_core/verification.php?id=$1&email=$2 [QSA]

RewriteRule ^r3forum/([^/]+)/$ /forum/index.php?project=$1 [QSA]
RewriteRule ^w3forum/([^/]+)/$ /forum/index.php?user=$1 [QSA]
RewriteRule ^profile/([^/]+)/$ profile.php?name=$1 [QSA]
RewriteRule ^content/search/$ search.php? [QSA]
RewriteRule ^myvolt/([^/]+)/$ profile.php?name=$1 [QSA]
RewriteRule ^account/([^/]+)/$ accountsettings.php?name=$1 [QSA]
RewriteRule ^([^/]+)/stats/$ /comicstats.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/$ /pf_16_core/templates/iphone/index.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/downloads/$ /pf_16_core/templates/iphone/downloads.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/login/$ /pf_16_core/templates/iphone/login.php?ref=$1 [QSA]
RewriteRule ^([^/]+)/iphone/characters/$ /pf_16_core/templates/iphone/characters.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/extras/$ /pf_16_core/templates/iphone/extras.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/about/$ /pf_16_core/templates/iphone/about.php?comic=$1 [QSA]
RewriteRule ^([^/]+)/iphone/series/([^/]+)/episode/([^/]+)/chapter/([^/]+)/page/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&series=$2&episode=$3&chapter=$4&page=$5&series=1  [QSA]
RewriteRule ^([^/]+)/iphone/episode/([^/]+)/chapter/([^/]+)/page/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&episode=$2&chapter=$3&page=$4&series=1  [QSA]
RewriteRule ^([^/]+)/iphone/series/([^/]+)/episode/([^/]+)/page/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&series=$2&episode=$3&page=$4  [QSA]
RewriteRule ^([^/]+)/iphone/series/([^/]+)/episode/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&series=$2&episode=$3&pg=1 [QSA]
RewriteRule ^([^/]+)/iphone/episode/([^/]+)/page/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&episode=$2&page=$3&series=1 [QSA]
RewriteRule ^([^/]+)/iphone/episode/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&episode=$2&pg=1&series=1 [QSA]
RewriteRule ^([^/]+)/iphone/pages/([^/]+)/$  /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&part=$2&page=1 [QSA]
RewriteRule ^([^/]+)/iphone/page/([^/]+)/$   /pf_16_core/templates/iphone/index.php?comic=$1&section=reader&page=$2  [QSA]

RewriteRule ^([^/]+)/products/([^/]+)/$ view_product.php?productid=$2 [QSA]
RewriteRule ^products/([^/]+)/$ view_product.php?productid=$1 [QSA]
RewriteRule ^([^/]+)/mobile/([^/]+)/$ send_to_mobile.php?content=$2 [QSA]

RewriteRule ^reader/([^/]+)/$ /flash_reader.php?name=$1 [QSA]
RewriteRule ^([^/]+)/reader/series/([^/]+)/episode/([^/]+)/chapter/([^/]+)/page/([^/]+)/$  view_project.php?project=$1&section=reader&series=$2&episode=$3&chapter=$4&page=$5&series=1  [QSA]
RewriteRule ^([^/]+)/reader/episode/([^/]+)/chapter/([^/]+)/page/([^/]+)/$  view_project.php?project=$1&section=reader&episode=$2&chapter=$3&page=$4&series=1  [QSA]
RewriteRule ^([^/]+)/reader/series/([^/]+)/episode/([^/]+)/page/([^/]+)/$  view_project.php?project=$1&section=reader&series=$2&episode=$3&page=$4  [QSA]
RewriteRule ^([^/]+)/reader/series/([^/]+)/episode/([^/]+)/$  view_project.php?project=$1&section=reader&series=$2&episode=$3&pg=1 [QSA]
RewriteRule ^([^/]+)/reader/episode/([^/]+)/page/([^/]+)/$  view_project.php?project=$1&section=reader&episode=$2&page=$3&series=1 [QSA]
RewriteRule ^([^/]+)/reader/episode/([^/]+)/$  view_project.php?project=$1&section=reader&episode=$2&pg=1&series=1 [QSA]
RewriteRule ^([^/]+)/reader/pages/([^/]+)/$  view_project.php?project=$1&section=reader&part=$2&page=1 [QSA]
RewriteRule ^([^/]+)/reader/page/([^/]+)/$   view_project.php?project=$1&section=reader&page=$2  [QSA]
RewriteRule ^([^/]+)/inlinereader/page/([^/]+)/$  read_project.php?project=$1&page=$2&section=pages [QSA]
RewriteRule ^([^/]+)/reader/$  view_project.php?project=$1&page=choice [QSA]
RewriteRule ^([^/]+)/inlinereader/$  read_project.php?project=$1 [QSA]

RewriteRule ^([^/]+)/creator/contact/$  creator_contact.php?project=$1 [QSA]

RewriteRule ^([^/]+)/blog/([^/]+)/$ project_blog.php?project=$1&post=$2 [QSA]
RewriteRule ^([^/]+)/([^/]+)/$ view_project.php?project=$1&section=$2 [QSA]
RewriteRule ^([^/]+)/$ view_project.php?project=$1 [QSA]

